@keyframes slide-up {
  0% { 
    transform: translateY(150px); /* 👈 más grande = más abajo */
    opacity: 0; 
  }
  50%{
    transform: translateY(-35px); /* 👈 más grande = más abajo */
    opacity: 0.7; 
  }
  80% {
    opacity: 1;
  }
  100% { 
    transform: translateY(0); 
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.6s cubic-bezier(0.22, 1, 0.36, 1); /* más suave */
}
